@{
    ViewBag.Title = "SendTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2 style="font-size:25px">Bạn Đã Gửi Bài Thành Công!</h2>*@
<section id="home" class="divider parallax layer-overlay overlay-dark-9" data-bg-img="/Content/images/bg/bg1.jpg" style="height: 100vh;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" style="padding-top:15px">
                <h1 class="title" style="text-align: center; color:white">Bạn Đã Gửi Bài Thành Công!</h1>
                <h5 class="description" style="text-align: center" color:white>Chúc Bạn Có Một Ngày Học Tập Thật Hiệu Quả.</h5>

            </div>
        </div>
    </div>
</section>
 
