@using ELearning.Handler
@using BELibrary.Utils
@{
    string urlFlag = "/Content/images/flags/" + CookiesManage.GetLanguageCode() + ".png";

}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <script src="~/Content/js/noel.js"></script>
        <link href="~/Content/css/TrangChu.css" rel="stylesheet" />
        <script src="~/Content/js/jquery-3.5.1.min.js"></script>
        <script src="~/Content/js/Home.js"></script>
    </head>
    <body>
        <div class="menu">
            <ul>
                <li><a href="~/Home/Home"><img src="~/Content/img/Home/logo.png" id="logo1"></a></li>
                <li><a href="~/Home/Home">Trang Chủ</a></li>
                <li><a href="~/Course/CourseList">Khóa Học</a></li>
                <li><a href="~/Blog/Home">Blog</a></li>
                <li><a href="~/Home/About">Thông Tin</a></li>
                <li><a href="~/Home/Contact">Liên hệ</a></li>
                @if (CookiesManage.Logined())
                {
                    <li>
                        <a class="text-white" href="/account">@CookiesManage.GetUser().FullName</a>
                    </li>
                    <li class="text-white">|</li>
                    <li>
                        <a class="text-white" href="/account/logout">@L.T("Logout")</a>
                    </li>
                }
                else
                {
                    <li>
                        <a class="text-white" href="/account/login">@L.T("Login")</a>
                    </li>
                }
            </ul>
        </div>
