@{
    ViewBag.Title = "Bạn không có quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="cls-content" style="text-align: center;">
    <h1 class="error-code text-muted"><i class="demo-psi-gear fa fa-ban"></i></h1>
    <p class="h4 text-uppercase text-bold">Bạn không có quyền truy cập</p>
    <div class="pad-btm">
        Có vẻ bạn không có quyền truy cập trang<br>
        Vui lòng liên hệ quản trị viên.
    </div>
    <div>
        <a class="btn btn-primary" href="/admin">Quay lại</a>
    </div>
</div>