@using ELearning.Handler
<footer id="footer" class="footer divider layer-overlay overlay-dark-9" data-bg-img="/Content/images/bg/bg2.jpg">
    <div class="container">
        <div class="row border-bottom">
            <div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <img class="mt-5 mb-20" alt="" src="~/Content/images/logo-white-footer.png">
                    <p>203, Envato Labs, Behind Alis Steet, Melbourne, Australia.</p>
                    <ul class="list-inline mt-5">
                        <li class="m-0 pl-10 pr-10">
                            <i class="fa fa-phone text-theme-color-2 mr-5"></i> <a class="text-gray"
                                                                                   href="#">123-456-789</a>
                        </li>
                        <li class="m-0 pl-10 pr-10">
                            <i class="fa fa-envelope-o text-theme-color-2 mr-5"></i> <a class="text-gray" href="#">contact@yourdomain.com</a>
                        </li>
                        <li class="m-0 pl-10 pr-10">
                            <i class="fa fa-globe text-theme-color-2 mr-5"></i> <a class="text-gray"
                                                                                   href="#">www.yourdomain.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <h4 class="widget-title">@L.T("UsefulLink")</h4>
                    <ul class="list angle-double-right list-border">
                        <li><a href="page-about-style1.html">@L.T("AboutUs")</a></li>
                        <li><a href="page-course-list.html">@L.T("OurCourse")</a></li>
                        <li><a href="page-pricing-style1.html">Pricing Table</a></li>
                        <li><a href="page-gallery-3col.html">Gallery</a></li>
                        <li><a href="shop-category.html">Shop</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">

            </div>
            <div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <h4 class="widget-title line-bottom-theme-colored-2">@L.T("OpeningHour")</h4>
                    <div class="opening-hours">
                        <ul class="list-border">
                            <li class="clearfix">
                                <span> Mon - Tues : </span>
                                <div class="value pull-right"> 6.00 am - 10.00 pm </div>
                            </li>
                            <li class="clearfix">
                                <span> Wednes - Thurs :</span>
                                <div class="value pull-right"> 8.00 am - 6.00 pm </div>
                            </li>
                            <li class="clearfix">
                                <span> Fri : </span>
                                <div class="value pull-right"> 3.00 pm - 8.00 pm </div>
                            </li>
                            <li class="clearfix">
                                <span> Sun : </span>
                                <div class="value pull-right"> Closed </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-30">
            <div class="col-md-2">
                
            </div>
            <div class="col-md-3">
                
            </div>
            <div class="col-md-5 col-md-offset-2">
                
            </div>
        </div>
    </div>
    
</footer>