html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*-- start editing from here --*/
a {
    text-decoration: none;
    color: red !important
}

.txt-rt {
    text-align: right;
}
/* text align right */
.txt-lt {
    text-align: left;
}
/* text align left */
.txt-center {
    text-align: center;
}
/* text align center */
.float-rt {
    float: right;
}
/* float right */
.float-lt {
    float: left;
}
/* float left */
.clear {
    clear: both;
}
/* clear float */
.pos-relative {
    position: relative;
}
/* Position Relative */
.pos-absolute {
    position: absolute;
}
/* Position Absolute */
.vertical-base {
    vertical-align: baseline;
}
/* vertical align baseline */
.vertical-top {
    vertical-align: top;
}
/* vertical align top */
nav.vertical ul li {
    display: block;
}
/* vertical menu */
nav.horizontal ul li {
    display: inline-block;
}
/* horizontal menu */
img {
    max-width: 100%;
}
/*-- end reset --*/
body {
    font-family: 'Open Sans', sans-serif;
    background: url(../FileUploads/images/1.jpg)no-repeat center 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
/*-- main --*/
.agileinfo-row {
    width: 65%;
    margin: 0 auto;
}
/*-- top-nav --*/
.kBztop-nav {
    padding-top: 3em;
}

.kBztop-nav-left {
    float: left;
}

.kBztop-nav-right {
    float: right;
    margin-top: 1em;
}

.kBztop-nav-left h1 {
    font-size: 3em;
    font-weight: 100;
    line-height: .9em;
}

    .kBztop-nav-left h1 a {
        color: #fff;
    }

.kBztop-nav-right ul li {
    display: inline-block;
    margin: 0 1.2em;
}

    .kBztop-nav-right ul li a {
        color: #fff;
        font-size: 1em;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
        transition: 0.5s all;
    }

        .kBztop-nav-right ul li a:hover {
            color: #4CAF50;
        }
/*-- //top-nav --*/
/*-- //errortext --*/
.kBzlayouts-errortext {
    padding-top: 6em;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    color: #fff;
    font-weight: 900;
    line-height: 1.8em;
}

p.kBzlstext {
    font-size: 0.9em;
    color: #fff;
    line-height: 1.8em;
    font-weight: 400;
    width: 65%;
    margin: 1.5em auto;
}

.agile-search input[type="text"] {
    width: 50%;
    padding: .8em;
    font-size: 1em;
    color: #fff;
    outline: none;
    border: 1px solid #4CAF50;
    background: none;
    -webkit-appearance: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
}

.agile-search input[type="submit"] {
    outline: none;
    box-shadow: none;
    background: #4CAF50;
    border: 1px solid #4CAF50;
    padding: .8em 2em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    margin-left: 0.5em;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
}

    .agile-search input[type="submit"]:hover {
        color: #4caf50;
        background: transparent;
    }

::-webkit-input-placeholder {
    color: #fff !important;
}

:-moz-placeholder { /* Firefox 18- */
    color: #fff !important;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #fff !important;
}

:-ms-input-placeholder {
    color: #fff !important;
}
/*-- errortext --*/
/*-- copyright --*/
.copyright {
    margin: 8.5em 0 2em;
    text-align: center;
}

    .copyright p {
        font-size: 1em;
        color: #fff;
        line-height: 1.8em;
    }

        .copyright p a {
            color: #fff;
            -webkit-transition: 0.5s all;
            -moz-transition: 0.5s all;
            -o-transition: 0.5s all;
            -ms-transition: 0.5s all;
            transition: 0.5s all;
        }

            .copyright p a:hover {
                color: #4CAF50;
            }
/*-- //copyright --*/
/*-- //main --*/
/*-- responsive-design --*/
@media(max-width:1366px) {
    p.kBzlstext {
        width: 75%;
    }
}

@media(max-width:1080px) {
    .agileinfo-row {
        width: 75%;
    }

    .kBztop-nav-left h1 {
        font-size: 2.8em;
    }
}

@media(max-width:991px) {
    p.kBzlstext {
        width: 85%;
    }
}

@media(max-width:900px) {
    .agileinfo-row {
        width: 85%;
    }

    .kBztop-nav-left h1 {
        font-size: 2.5em;
        letter-spacing: -2px;
    }

    .kBztop-nav-right {
        margin-top: 0.5em;
    }

    .kBztop-nav {
        padding-top: 2em;
    }

    .kBzlayouts-errortext {
        padding-top: 8em;
        text-align: center;
    }

    .kBztop-nav-right ul li {
        margin: 0 1em;
    }

    p.kBzlstext {
        width: 95%;
    }
}

@media(max-width:667px) {
    .kBztop-nav-left h1 {
        font-size: 2.3em;
    }

    .kBztop-nav-right ul li {
        margin: 0 0.5em;
    }

    h2 {
        font-size: 1em;
    }

    p.kBzlstext {
        width: 100%;
        font-size: 0.85em;
        line-height: 2em;
    }

    .copyright {
        margin: 7em 0 1em;
    }
}

@media(max-width:480px) {
    .kBztop-nav-left, .kBztop-nav-right {
        float: none;
        text-align: center;
    }

    .kBztop-nav-right {
        margin-top: 1.5em;
    }

        .kBztop-nav-right ul li a {
            font-size: 0.9em;
        }

        .kBztop-nav-right ul li {
            margin: 0 1em;
        }

    .kBzlayouts-errortext img {
        width: 52%;
    }

    h2 {
        font-size: 0.9em;
    }

    .agile-search input[type="text"], .agile-search input[type="submit"] {
        font-size: 0.9em;
    }

    .copyright p {
        font-size: 0.9em;
        padding: 0 1em;
    }

    .copyright {
        margin: 6em 0 1em;
    }

    .kBzlayouts-errortext {
        padding-top: 6em;
    }

    .copyright {
        margin: 5em 0 1em;
    }
}

@media(max-width:384px) {
    .kBzlayouts-errortext {
        padding-top: 5em;
    }

    .agile-search input[type="text"] {
        width: 85%;
    }

    .agile-search input[type="submit"] {
        margin: 1em 0 0 0;
        padding: .7em 2em;
    }

    .kBztop-nav {
        padding-top: 1em;
    }

    p.kBzlstext {
        font-size: 0.8em;
    }

    .agileinfo-row {
        width: 87%;
    }

    .kBztop-nav-left h1 {
        font-size: 2em;
    }

    .copyright {
        margin: 4em 0 1em;
    }
}

@media(max-width:320px) {
    .kBztop-nav-left h1 {
        font-size: 1.8em;
        letter-spacing: 0px;
    }

    .kBztop-nav-right ul li a {
        font-size: 0.85em;
    }

    .kBztop-nav-right ul li {
        margin: 0 0.6em;
    }

    h2 {
        font-size: 0.85em;
    }

    p.kBzlstext {
        margin: 0.8em auto;
    }

    .kBzlayouts-errortext {
        padding-top: 2em;
    }

    .kBztop-nav-right {
        margin-top: 1em;
    }

    .agile-search input[type="submit"] {
        padding: .6em 2em;
    }

    .copyright {
        margin: 2em 0 1em;
    }

        .copyright p {
            font-size: 0.8em;
        }
}
