@using ELearning.Handler
@using BELibrary.Entity
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<!DOCTYPE html>
<html>
<head>
    <title> ELearning - Về Chúng Tôi</title>
    <link href="~/Content/css/about us.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("_PartialSlide")
    @*<div><img id="anhnen-thongtin" src="~/Content/img/ThongTin/logo.png" /></div>*@

    <section id="avatar">
        <div class="container">
            <div class="col-lg-5 col-md-5 col-sm-6">
                <div class="img">
                    <img class="img-responsive avartar" src="~/Content/images/about/5.jpg" />
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-6 center">
                <div class="text">
                    <h3 class="title">CHÚNG TÔI LÀ AI</h3>
                    <span class="description">E-Learning là một hệ thống và nền tảng tương tác trực tuyến cho phép người dùng học tập, thực hành và đánh giá các kỹ năng lập trình của họ thông qua các bài tập thực hành, các cuộc thi lập trình với chức năng chấm điểm tự động để người dùng có thể cải thiện kỹ năng và tăng năng suất</span>
                </div>
            </div>
        </div>
    </section>
    <section id="TamNhin">
        <div class="container">
            <div class="row flex-view">
                <div class="col-lg-6 col-md-6 col-sm-6 left">
                    <div class="text">
                        <h3 class="title">Tầm nhìn</h3>
                        <span class="description" style="font-size:px">Dù bạn là ai, E-Learning sẽ luôn giúp bạn khám phá giới hạn của chính mình. Chúng tôi hứa sẽ mang đến một kênh để các lập trình viên có thể chia sẻ kiến thức của mình không chỉ ở Việt Nam mà còn rộng ra là ở Đông Nam Á và toàn châu Á.</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 right">
                    <div class="img">
                        <img class="img-responsive" src="~/Content/images/about/2.jpg" />

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="SuMenh">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 left">
                    <div class="img">
                        <img class="img-responsive" src=" ~/Content/images/about/3.jpg" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 right">
                    <div class="text">
                        <h3 class="title">Sứ mệnh</h3>
                        <span class="description">Chúng tôi tập trung phát triển một hệ sinh thái toàn diện với các khóa học từ cơ bản đến nâng cao và bài tập thực hành phù hợp với mọi người. Với các khóa học, bài tập phong phú và đa dạng được hỗ trợ nhiều ngôn ngữ lập trình, CodeAmaz giúp người dùng học và thực hành lập trình dễ dàng và hiệu quả. <br /> Chúng tôi kết nối tất cả những người có chung niềm đam mê với lập trình để cùng nhau xây dựng một cộng đồng lớn mạnh.</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<section id="GiaTri">
        <div class="container">
            <div class="row">
                <div class="text center">
                    <h3 class="title">Giá Trị</h3>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 item">
                    <div class="main">
                        <div class="img col-lg-2 col-md-2 col-sm-6">
                            <img class="img-responsive" src="~/Content/img/ThongTin/trithuc.svg" />
                        </div>
                        <div class="content col-lg-10 col-md-10 col-sm-6">
                            <h4 class="title">Tri thức</h4>
                            <span>Các khóa học trực tuyến từ cơ bản đến nâng cao phù hợp với mục đích thực hành và học tập của mỗi người dùng khác nhau.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 item">
                    <div class="main">
                        <div class="img col-lg-2 col-md-2 col-sm-6">
                            <img class="img-responsive" src="~/Content/img/ThongTin/sanchoi.svg" />
                        </div>
                        <div class="content col-lg-10 col-md-10 col-sm-6">
                            <h4 class="title">Sân chơi trí tuệ</h4>
                            <span>Số lượng lớn các bài tập về thuật toán khuyến khích người dùng áp dụng nhiều cách giải khác nhau bằng nhiều loại ngôn ngữ khác nhau.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 item">
                    <div class="main">
                        <div class="img col-lg-2 col-md-2 col-sm-6">
                            <img class="img-responsive" src="~/Content/img/ThongTin/ketnoi.svg" />
                        </div>
                        <div class="content col-lg-10 col-md-10 col-sm-6">
                            <h4 class="title">Kết nối</h4>
                            <span>Một cộng đồng để các lập trình viên có thể cùng nhau giải quyết các bài toán, trao đổi và học hỏi lẫn nhau.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 item">
                    <div class="main">
                        <div class="img col-lg-2 col-md-2 col-sm-6">
                            <img class="img-responsive" src="~/Content/img/ThongTin/hailong.svg" />
                        </div>
                        <div class="content col-lg-10 col-md-10 col-sm-6">
                            <h4 class="title">Sự hài lòng của người dùng</h4>
                            <span>Một người bạn đồng hành đáng tin cậy, nơi cung cấp các cuộc thi cho các đơn vị và giúp mỗi người dùng đạt được mục tiêu của riêng mình.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
    <section id="TuyenDung">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h4 class="title">Chúng tôi cần bạn!</h4>
                    <p class="description">Giúp chúng tôi xây dựng một hệ sinh thái toàn diện về học tập và kết nối cộng đồng lập trình.</p>
                    <a href="JavaScript:Void(0);" data-toggle="modal" data-target="#UngTuyen" class="learn-now">Tham gia cùng chúng tôi</a>
                </div>
            </div>
        </div>
    </section>
    <section id="DoiNgu">
        <div class="container">
            <div class="row">
                <div class="text center">
                    <h3 class="title">Đội ngũ của chúng tôi</h3>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 item">
                    @*<div>
                    <div class="img"><img class="img-responsive" src="~/Content/img/ThongTin/Hau.jpg"></div>
                    <div class="name">Hồ Công Hậu</div>
                    </div> class="position">Chủ sở hữu sản phẩm</div>*@
                 </div>
                <div class=" col-lg-3 col-md-4 col-sm-6 item" style="position:center">
                    <div class="img"><img class="img-responsive" src="~/Content/images/blog/23123123.jpg"></div>
                    <div class="name">ĐỖ THẾ THUẬN</div>
                    <div class="position">Kỹ sư phần mềm</div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 item">
                    <div class="img"><img class="img-responsive" src="~/FileUploads/images/28618678.png"></div>
                    <div class="name">Tạ Trí Thông</div>
                    <div class="position">Kỹ sư phần mềm</div>
                </div>
                @*<div class="col-lg-3 col-md-4 col-sm-6 item">
            <div class="img"><img class="img-responsive" src="~/Content/img/ThongTin/de.jpg"></div>
            <div class="name">Dế Choắt</div>
            <div class="position">Kỹ sư phần mềm</div>
        </div>*@
            </div>
        </div>
    </section>
</body>
</html>

