USE [master]
GO
/****** Object:  Database [CinemaOnline]    Script Date: 3/19/2020 3:35:16 PM ******/
CREATE DATABASE [CinemaOnline]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CinemaOnline', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CinemaOnline.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CinemaOnline_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CinemaOnline_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CinemaOnline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CinemaOnline]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 3/19/2020 3:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 3/19/2020 3:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](250) NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Admin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 3/19/2020 3:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Banner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CinemaRoom]    Script Date: 3/19/2020 3:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CinemaRoom](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](20) NULL,
	[RowQuantity] [int] NOT NULL,
	[Area] [float] NULL,
	[SeatQuantity] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[SoundQuality] [nvarchar](20) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.CinemaRoom] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 3/19/2020 3:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[FilmId] [uniqueidentifier] NOT NULL,
	[Detail] [nvarchar](max) NULL,
	[CreationTime] [datetime2](7) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Comment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DaysOfWeek]    Script Date: 3/19/2020 3:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DaysOfWeek](
	[Id] [uniqueidentifier] NOT NULL,
	[Price] [float] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
	[Name] [nvarchar](30) NULL,
 CONSTRAINT [PK_dbo.DaysOfWeek] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film]    Script Date: 3/19/2020 3:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](250) NULL,
	[TrailerLink] [nvarchar](max) NULL,
	[Actors] [nvarchar](max) NULL,
	[Directors] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[Warn] [nvarchar](max) NULL,
	[Time] [time](7) NULL,
	[BannerUrl] [nvarchar](250) NULL,
	[TimeComing] [nvarchar](50) NULL,
	[Detail] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
	[Image] [nvarchar](max) NULL,
	[AgeRestriction] [int] NOT NULL,
	[ReleaseDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Film] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmMovieDisplayType]    Script Date: 3/19/2020 3:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmMovieDisplayType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FilmId] [uniqueidentifier] NOT NULL,
	[MovieDisplayTypeId] [uniqueidentifier] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.FilmMovieDisplayType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmMovieType]    Script Date: 3/19/2020 3:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmMovieType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FilmId] [uniqueidentifier] NOT NULL,
	[MovieTypeId] [uniqueidentifier] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.FilmMovieType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieCalendar]    Script Date: 3/19/2020 3:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieCalendar](
	[Id] [uniqueidentifier] NOT NULL,
	[FilmId] [uniqueidentifier] NOT NULL,
	[DaysOfWeekId] [uniqueidentifier] NOT NULL,
	[TimeFrameId] [uniqueidentifier] NOT NULL,
	[MovieDisplayTypeId] [uniqueidentifier] NOT NULL,
	[Price] [float] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
	[StartWeek] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.MovieCalendar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieDisplayType]    Script Date: 3/19/2020 3:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieDisplayType](
	[Id] [uniqueidentifier] NOT NULL,
	[Price] [float] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
	[Name] [nvarchar](20) NULL,
 CONSTRAINT [PK_dbo.MovieDisplayType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieType]    Script Date: 3/19/2020 3:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieType](
	[Id] [uniqueidentifier] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
	[Name] [nvarchar](30) NULL,
 CONSTRAINT [PK_dbo.MovieType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 3/19/2020 3:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Detail] [text] NULL,
	[CreationTime] [datetime2](7) NULL,
	[BannerUrl] [nvarchar](250) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 3/19/2020 3:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id] [uniqueidentifier] NOT NULL,
	[OderId] [uniqueidentifier] NOT NULL,
	[MovieCalendarId] [uniqueidentifier] NOT NULL,
	[PromotionId] [uniqueidentifier] NULL,
	[PromotionPrice] [float] NULL,
	[Seat] [nvarchar](4) NULL,
	[FilmName] [nvarchar](250) NULL,
	[RoomName] [nvarchar](20) NULL,
	[Time] [datetime] NOT NULL,
	[Day] [nvarchar](30) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
	[FilmPrice] [float] NOT NULL,
	[DayOfWeekPrice] [float] NULL,
	[TimeFramePrice] [float] NULL,
	[MovieDisplayTypePrice] [float] NULL,
	[Order_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.OrderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/19/2020 3:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PromotionId] [uniqueidentifier] NULL,
	[PromotionPrice] [float] NULL,
	[CreationTime] [datetime2](7) NULL,
	[TotalPrice] [float] NULL,
	[Status] [int] NOT NULL,
	[Credits] [nvarchar](50) NULL,
	[TicketQuantity] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 3/19/2020 3:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[Id] [uniqueidentifier] NOT NULL,
	[CreationTime] [datetime2](7) NULL,
	[CreaterId] [uniqueidentifier] NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
	[KindOfPromotion] [nvarchar](50) NULL,
	[Price] [float] NOT NULL,
	[PromotionPercent] [float] NULL,
	[IsFilm] [bit] NOT NULL,
	[FilmId] [uniqueidentifier] NULL,
	[Code] [nvarchar](20) NOT NULL,
	[KindOfPromotionEnum] [int] NOT NULL,
	[TopingId] [uniqueidentifier] NULL,
	[IsActive] [bit] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Promotion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/19/2020 3:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[RoleEnum] [int] NULL,
 CONSTRAINT [PK_dbo.Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 3/19/2020 3:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[Id] [uniqueidentifier] NOT NULL,
	[Row] [nvarchar](2) NULL,
	[Col] [nvarchar](2) NULL,
	[Status] [int] NOT NULL,
	[Color] [nvarchar](max) NULL,
	[SeatTypeId] [uniqueidentifier] NULL,
	[CinemaRoomId] [uniqueidentifier] NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Seat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatType]    Script Date: 3/19/2020 3:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatType](
	[Id] [uniqueidentifier] NOT NULL,
	[Price] [float] NOT NULL,
	[Color] [nvarchar](10) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
	[Name] [nvarchar](15) NULL,
 CONSTRAINT [PK_dbo.SeatType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeFrame]    Script Date: 3/19/2020 3:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeFrame](
	[Id] [uniqueidentifier] NOT NULL,
	[Time] [time](7) NOT NULL,
	[Price] [float] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.TimeFrame] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Toping]    Script Date: 3/19/2020 3:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Toping](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Price] [float] NOT NULL,
	[KindOfToping] [nvarchar](50) NULL,
	[KindOfTopingEnum] [int] NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
	[ImageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Toping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopingOderDetail]    Script Date: 3/19/2020 3:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopingOderDetail](
	[Id] [uniqueidentifier] NOT NULL,
	[OderId] [uniqueidentifier] NULL,
	[TopingId] [uniqueidentifier] NULL,
	[PromotionId] [uniqueidentifier] NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
	[PromotionPrice] [float] NULL,
	[Order_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.TopingOderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/19/2020 3:35:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Gender] [bit] NOT NULL,
	[IdentityCard] [nvarchar](15) NULL,
	[Email] [nvarchar](30) NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](100) NULL,
	[IsDelete] [bit] NOT NULL,
	[DeletetionTime] [datetime2](7) NULL,
	[DeleterId] [uniqueidentifier] NULL,
	[FullName] [nvarchar](50) NULL,
	[Phone] [nvarchar](15) NULL,
	[LinkAvata] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([Id], [Name], [PhoneNumber], [UserName], [Password], [RoleId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'2d33df82-74ae-4a6e-8113-d75b5da93b83', N'Quản Trị', N'0973 642 032', N'admin', N'7AHIx4e55p5UJeIcWrhrag==', N'8e7045ed-e43e-41b8-97e7-9491192e2cd8', 0, NULL, NULL)
INSERT [dbo].[DaysOfWeek] ([Id], [Price], [IsDelete], [DeletetionTime], [DeleterId], [Name]) VALUES (N'b26dc80c-9b84-4fbb-975f-3809ccecfc1d', 0, 0, NULL, NULL, N'Thứ 3')
INSERT [dbo].[DaysOfWeek] ([Id], [Price], [IsDelete], [DeletetionTime], [DeleterId], [Name]) VALUES (N'2a2cb1f8-069b-4120-b500-7c5d0eae49db', 0, 0, NULL, NULL, N'Thứ 4')
INSERT [dbo].[DaysOfWeek] ([Id], [Price], [IsDelete], [DeletetionTime], [DeleterId], [Name]) VALUES (N'91bcceac-0a8b-4c23-b82e-894a1a81dbd2', 10000, 0, NULL, NULL, N'Thứ 6')
SET IDENTITY_INSERT [dbo].[FilmMovieDisplayType] ON 

INSERT [dbo].[FilmMovieDisplayType] ([Id], [FilmId], [MovieDisplayTypeId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (1, N'422946a8-d698-4f30-8519-2df652e45db8', N'b6dcdbda-a8d0-48df-b746-3520bdacdf00', 0, NULL, NULL)
INSERT [dbo].[FilmMovieDisplayType] ([Id], [FilmId], [MovieDisplayTypeId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (2, N'4e422314-8df0-4709-aec0-e9bb1f4dde24', N'b6dcdbda-a8d0-48df-b746-3520bdacdf00', 0, NULL, NULL)
INSERT [dbo].[FilmMovieDisplayType] ([Id], [FilmId], [MovieDisplayTypeId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (3, N'43117de0-c412-4973-b137-525ba7126d5f', N'b6dcdbda-a8d0-48df-b746-3520bdacdf00', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[FilmMovieDisplayType] OFF
SET IDENTITY_INSERT [dbo].[FilmMovieType] ON 

INSERT [dbo].[FilmMovieType] ([Id], [FilmId], [MovieTypeId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (16, N'422946a8-d698-4f30-8519-2df652e45db8', N'e6edee78-2fcc-424f-9295-7a6a6922ed9f', 0, NULL, NULL)
INSERT [dbo].[FilmMovieType] ([Id], [FilmId], [MovieTypeId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (17, N'422946a8-d698-4f30-8519-2df652e45db8', N'c3b3c5d4-17c4-4092-a7fa-b60c24044c30', 0, NULL, NULL)
INSERT [dbo].[FilmMovieType] ([Id], [FilmId], [MovieTypeId], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (18, N'422946a8-d698-4f30-8519-2df652e45db8', N'f41b4bc5-ad42-40be-88b9-c555988ba53e', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[FilmMovieType] OFF
INSERT [dbo].[MovieDisplayType] ([Id], [Price], [IsDelete], [DeletetionTime], [DeleterId], [Name]) VALUES (N'b6dcdbda-a8d0-48df-b746-3520bdacdf00', 10000, 0, NULL, NULL, N'3D')
INSERT [dbo].[MovieDisplayType] ([Id], [Price], [IsDelete], [DeletetionTime], [DeleterId], [Name]) VALUES (N'5f7d2e5d-7e41-447f-810e-b09ab162e313', 0, 0, NULL, NULL, N'2D')
INSERT [dbo].[MovieType] ([Id], [IsDelete], [DeletetionTime], [DeleterId], [Name]) VALUES (N'e6edee78-2fcc-424f-9295-7a6a6922ed9f', 0, NULL, NULL, N'Fantasy')
INSERT [dbo].[MovieType] ([Id], [IsDelete], [DeletetionTime], [DeleterId], [Name]) VALUES (N'c3b3c5d4-17c4-4092-a7fa-b60c24044c30', 0, NULL, NULL, N'Adventure')
INSERT [dbo].[MovieType] ([Id], [IsDelete], [DeletetionTime], [DeleterId], [Name]) VALUES (N'f41b4bc5-ad42-40be-88b9-c555988ba53e', 0, NULL, NULL, N'Drama')
INSERT [dbo].[Promotion] ([Id], [CreationTime], [CreaterId], [IsDelete], [DeletetionTime], [DeleterId], [KindOfPromotion], [Price], [PromotionPercent], [IsFilm], [FilmId], [Code], [KindOfPromotionEnum], [TopingId], [IsActive], [Quantity]) VALUES (N'95446aa9-d14a-4538-97b3-a4c09decdc9a', CAST(N'2020-03-18T17:11:45.6087226' AS DateTime2), N'2d33df82-74ae-4a6e-8113-d75b5da93b83', 0, NULL, NULL, N'Đồng giá', 55000, 0, 1, NULL, N'CN7CFZV2', 0, NULL, 1, 50)
INSERT [dbo].[Role] ([Id], [Name], [RoleEnum]) VALUES (N'8e7045ed-e43e-41b8-97e7-9491192e2cd8', N'Admin', 1)
INSERT [dbo].[SeatType] ([Id], [Price], [Color], [IsDelete], [DeletetionTime], [DeleterId], [Name]) VALUES (N'7d4bf2ee-0ff9-4b2b-b331-0fdc5b4458ea', 40000, N'#953CA4', 0, NULL, NULL, N'Premium')
INSERT [dbo].[SeatType] ([Id], [Price], [Color], [IsDelete], [DeletetionTime], [DeleterId], [Name]) VALUES (N'0518b1b0-89ce-445e-96ad-4f3067133627', 10000, N'#1C3550', 0, NULL, NULL, N'Thường')
INSERT [dbo].[SeatType] ([Id], [Price], [Color], [IsDelete], [DeletetionTime], [DeleterId], [Name]) VALUES (N'a35ebe8c-e7b9-4968-99d7-571f7fdc457b', 20000, N'#1F897F', 0, NULL, NULL, N'Deluxe')
INSERT [dbo].[TimeFrame] ([Id], [Time], [Price], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'05819958-aa66-4eda-9e98-25f7b32edad2', CAST(N'03:30:00' AS Time), 10000, 0, NULL, NULL)
INSERT [dbo].[TimeFrame] ([Id], [Time], [Price], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'cd876606-4dfe-443d-88d2-3347d4ed62d6', CAST(N'02:30:00' AS Time), 10000, 0, NULL, NULL)
INSERT [dbo].[TimeFrame] ([Id], [Time], [Price], [IsDelete], [DeletetionTime], [DeleterId]) VALUES (N'8ba76255-32e2-46da-9be4-492cf65a6218', CAST(N'20:00:00' AS Time), 20000, 0, NULL, NULL)
INSERT [dbo].[Users] ([Id], [Gender], [IdentityCard], [Email], [DateOfBirth], [Username], [Password], [IsDelete], [DeletetionTime], [DeleterId], [FullName], [Phone], [LinkAvata]) VALUES (N'2a274c96-8861-4b35-a4c5-fd495a2eee79', 1, NULL, N'uim89127@zzrgg.com', CAST(N'1997-08-18T00:00:00.000' AS DateTime), N'phucnd', N'7AHIx4e55p5e679/EO9cq8D9eo0uB7BC', 0, NULL, NULL, N'Đình Phúc', N'0973642632', N'/FileUploads/images/avatas/Dinh-Phuc_20200318152202660.png')
/****** Object:  Index [IX_RoleId]    Script Date: 3/19/2020 3:35:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[Admin]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FilmId]    Script Date: 3/19/2020 3:35:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_FilmId] ON [dbo].[Comment]
(
	[FilmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 3/19/2020 3:35:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Comment]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FilmId]    Script Date: 3/19/2020 3:35:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_FilmId] ON [dbo].[FilmMovieDisplayType]
(
	[FilmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovieDisplayTypeId]    Script Date: 3/19/2020 3:35:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_MovieDisplayTypeId] ON [dbo].[FilmMovieDisplayType]
(
	[MovieDisplayTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FilmId]    Script Date: 3/19/2020 3:35:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_FilmId] ON [dbo].[FilmMovieType]
(
	[FilmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovieTypeId]    Script Date: 3/19/2020 3:35:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_MovieTypeId] ON [dbo].[FilmMovieType]
(
	[MovieTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DaysOfWeekId]    Script Date: 3/19/2020 3:35:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_DaysOfWeekId] ON [dbo].[MovieCalendar]
(
	[DaysOfWeekId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FilmId]    Script Date: 3/19/2020 3:35:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_FilmId] ON [dbo].[MovieCalendar]
(
	[FilmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovieDisplayTypeId]    Script Date: 3/19/2020 3:35:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_MovieDisplayTypeId] ON [dbo].[MovieCalendar]
(
	[MovieDisplayTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TimeFrameId]    Script Date: 3/19/2020 3:35:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_TimeFrameId] ON [dbo].[MovieCalendar]
(
	[TimeFrameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MovieCalendarId]    Script Date: 3/19/2020 3:35:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_MovieCalendarId] ON [dbo].[OrderDetail]
(
	[MovieCalendarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_Id]    Script Date: 3/19/2020 3:35:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Order_Id] ON [dbo].[OrderDetail]
(
	[Order_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PromotionId]    Script Date: 3/19/2020 3:35:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_PromotionId] ON [dbo].[OrderDetail]
(
	[PromotionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PromotionId]    Script Date: 3/19/2020 3:35:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_PromotionId] ON [dbo].[Orders]
(
	[PromotionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 3/19/2020 3:35:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Orders]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FilmId]    Script Date: 3/19/2020 3:35:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_FilmId] ON [dbo].[Promotion]
(
	[FilmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TopingId]    Script Date: 3/19/2020 3:35:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_TopingId] ON [dbo].[Promotion]
(
	[TopingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CinemaRoomId]    Script Date: 3/19/2020 3:35:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_CinemaRoomId] ON [dbo].[Seat]
(
	[CinemaRoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SeatTypeId]    Script Date: 3/19/2020 3:35:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_SeatTypeId] ON [dbo].[Seat]
(
	[SeatTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_Id]    Script Date: 3/19/2020 3:35:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_Order_Id] ON [dbo].[TopingOderDetail]
(
	[Order_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PromotionId]    Script Date: 3/19/2020 3:35:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_PromotionId] ON [dbo].[TopingOderDetail]
(
	[PromotionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TopingId]    Script Date: 3/19/2020 3:35:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_TopingId] ON [dbo].[TopingOderDetail]
(
	[TopingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Film] ADD  DEFAULT ((0)) FOR [AgeRestriction]
GO
ALTER TABLE [dbo].[Film] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [ReleaseDate]
GO
ALTER TABLE [dbo].[MovieCalendar] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [StartWeek]
GO
ALTER TABLE [dbo].[Promotion] ADD  DEFAULT ('') FOR [Code]
GO
ALTER TABLE [dbo].[Promotion] ADD  DEFAULT ((0)) FOR [KindOfPromotionEnum]
GO
ALTER TABLE [dbo].[Promotion] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Promotion] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Admin_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_dbo.Admin_dbo.Role_RoleId]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comment_dbo.Film_FilmId] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_dbo.Comment_dbo.Film_FilmId]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comment_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_dbo.Comment_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[FilmMovieDisplayType]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FilmMovieDisplayType_dbo.Film_FilmId] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilmMovieDisplayType] CHECK CONSTRAINT [FK_dbo.FilmMovieDisplayType_dbo.Film_FilmId]
GO
ALTER TABLE [dbo].[FilmMovieDisplayType]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FilmMovieDisplayType_dbo.MovieDisplayType_MovieDisplayTypeId] FOREIGN KEY([MovieDisplayTypeId])
REFERENCES [dbo].[MovieDisplayType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilmMovieDisplayType] CHECK CONSTRAINT [FK_dbo.FilmMovieDisplayType_dbo.MovieDisplayType_MovieDisplayTypeId]
GO
ALTER TABLE [dbo].[FilmMovieType]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FilmMovieType_dbo.Film_FilmId] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilmMovieType] CHECK CONSTRAINT [FK_dbo.FilmMovieType_dbo.Film_FilmId]
GO
ALTER TABLE [dbo].[FilmMovieType]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FilmMovieType_dbo.MovieType_MovieTypeId] FOREIGN KEY([MovieTypeId])
REFERENCES [dbo].[MovieType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilmMovieType] CHECK CONSTRAINT [FK_dbo.FilmMovieType_dbo.MovieType_MovieTypeId]
GO
ALTER TABLE [dbo].[MovieCalendar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovieCalendar_dbo.DaysOfWeek_DaysOfWeekId] FOREIGN KEY([DaysOfWeekId])
REFERENCES [dbo].[DaysOfWeek] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieCalendar] CHECK CONSTRAINT [FK_dbo.MovieCalendar_dbo.DaysOfWeek_DaysOfWeekId]
GO
ALTER TABLE [dbo].[MovieCalendar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovieCalendar_dbo.Film_FilmId] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieCalendar] CHECK CONSTRAINT [FK_dbo.MovieCalendar_dbo.Film_FilmId]
GO
ALTER TABLE [dbo].[MovieCalendar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovieCalendar_dbo.MovieDisplayType_MovieDisplayTypeId] FOREIGN KEY([MovieDisplayTypeId])
REFERENCES [dbo].[MovieDisplayType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieCalendar] CHECK CONSTRAINT [FK_dbo.MovieCalendar_dbo.MovieDisplayType_MovieDisplayTypeId]
GO
ALTER TABLE [dbo].[MovieCalendar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MovieCalendar_dbo.TimeFrame_TimeFrameId] FOREIGN KEY([TimeFrameId])
REFERENCES [dbo].[TimeFrame] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieCalendar] CHECK CONSTRAINT [FK_dbo.MovieCalendar_dbo.TimeFrame_TimeFrameId]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetail_dbo.MovieCalendar_MovieCalendarId] FOREIGN KEY([MovieCalendarId])
REFERENCES [dbo].[MovieCalendar] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_dbo.OrderDetail_dbo.MovieCalendar_MovieCalendarId]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetail_dbo.Orders_Order_Id] FOREIGN KEY([Order_Id])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_dbo.OrderDetail_dbo.Orders_Order_Id]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetail_dbo.Promotion_PromotionId] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[Promotion] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_dbo.OrderDetail_dbo.Promotion_PromotionId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Promotion_PromotionId] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[Promotion] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Promotion_PromotionId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Promotion_dbo.Film_FilmId] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([Id])
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [FK_dbo.Promotion_dbo.Film_FilmId]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Promotion_dbo.Toping_TopingId] FOREIGN KEY([TopingId])
REFERENCES [dbo].[Toping] ([Id])
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [FK_dbo.Promotion_dbo.Toping_TopingId]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Seat_dbo.CinemaRoom_CinemaRoomId] FOREIGN KEY([CinemaRoomId])
REFERENCES [dbo].[CinemaRoom] ([Id])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_dbo.Seat_dbo.CinemaRoom_CinemaRoomId]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Seat_dbo.SeatType_SeatTypeId] FOREIGN KEY([SeatTypeId])
REFERENCES [dbo].[SeatType] ([Id])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_dbo.Seat_dbo.SeatType_SeatTypeId]
GO
ALTER TABLE [dbo].[TopingOderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TopingOderDetail_dbo.Orders_Order_Id] FOREIGN KEY([Order_Id])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[TopingOderDetail] CHECK CONSTRAINT [FK_dbo.TopingOderDetail_dbo.Orders_Order_Id]
GO
ALTER TABLE [dbo].[TopingOderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TopingOderDetail_dbo.Promotion_PromotionId] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[Promotion] ([Id])
GO
ALTER TABLE [dbo].[TopingOderDetail] CHECK CONSTRAINT [FK_dbo.TopingOderDetail_dbo.Promotion_PromotionId]
GO
ALTER TABLE [dbo].[TopingOderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TopingOderDetail_dbo.Toping_TopingId] FOREIGN KEY([TopingId])
REFERENCES [dbo].[Toping] ([Id])
GO
ALTER TABLE [dbo].[TopingOderDetail] CHECK CONSTRAINT [FK_dbo.TopingOderDetail_dbo.Toping_TopingId]
GO
USE [master]
GO
