
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>404 - Trang không tồn tại - Xin lỗi bạn vì sự bất tiện này </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <link rel="icon" href="~/Content/images/favicon.ico" type="image/x-icon" />
    <link href="~/Content/404.css" rel="stylesheet" />
    <!-- web font -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
    <!-- //web font -->

</head>
<body>
    <!-- main -->
    <div class="agileits-main">
        <div class="agileinfo-row">
            <div class="kBzlayouts-errortext">
                <a href="/"> <img src="/FileUploads/images/img1.png" alt="" /></a>
                <h2>Rất xin lỗi! Không thể tìm thấy trang bạn đang tìm kiếm </h2>
                <p class="kBzlstext">Bạn đã nhấp vào liên kết không thể tìm thấy. Vui lòng kiểm tra url hoặc truy cập <a href="/">Trang chủ</a> và xem liệu bạn có thể tìm thấy những gì bạn đang tìm kiếm không </p>
                <div class="agile-search">
                    <form action="#" method="post">
                        <input type="text" name="Search" placeholder="Enter your search term..." id="search" required="">
                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- //main -->
    <!-- copyright -->
    <div class="copyright kBz-agile">
        <p>© @DateTime.Now.ToString("dd/MM/yyyy") My Error Page . All rights reserved | Design by <a href="/" target="_blank">Đình Phúc</a></p>
    </div>
    <!-- //copyright -->
</body>
</html>